* text=auto
*.ts   text eol=lf
*.tsx  text eol=lf
*.json text eol=lf
*.md   text eol=lf
*.css  text eol=lf
*.html text eol=lf
*.mjs  text eol=lf
*.cjs  text eol=lf
*.yml  text eol=lf
*.bat  text eol=crlf
*.ps1  text eol=crlf
